@media (max-width:1540px) {
header nav.navbar-light {
    padding: 0 3rem;
}
.navbar-brand img, .t-logo img{width: 100px;}

header .navbar-light .navbar-nav .nav-link{font-size: 1rem; padding-right: 0.7rem;padding-left: 0.7rem;}
header nav .contact-details a{margin-top: 0.5rem; margin-bottom: 0.5rem; margin-left: 1rem; font-size: .7rem;}
header nav .contact-details{margin-left: 0.5rem; }
.banner-con h3{font-size: 5.5rem;}
.banner-con h2{font-size: 1.9rem;}
.banner-con p{padding-right: 30px;}
.banner-con{top:45%; }
.banner-form.banner-form-sec{width: 344px; right: 105px; padding: 40px 20px; top:57%;}
.banner-form.banner-form-sec .form-control{height: 44px;font-size:0.9rem;}
.banner-form.banner-form-sec h2{font-size: 1.7rem;}
.banner-form.banner-form-sec .form-info p{font-size: 1.1rem}
.banner-form.banner-form-sec .form-input-radio label{font-size: 0.9rem;}
.h-sec11:before{width: 8.61%;}
.h-sec11:after{width:7%;right:1%;top:5%;}
.connect-box h3{padding: 0px 20px; font-size: 1.8rem;}
body{overflow-x:hidden; }
.pop-form .banner-form.banner-form-sec h2{font-size: 1.5rem;}
}
.th-phon-sec{padding: 20px 0;}

@media (max-width:1280px) {
header nav.navbar-light {
    padding: 0 3rem;
}
.navbar-brand img{width: 100px;}
header .navbar-light .navbar-nav .nav-link{font-size: 0.9rem; padding-right: 0.5rem;padding-left: 0.5rem;}
header nav .contact-details a{margin-top: 0.5rem; margin-bottom: 0.5rem; margin-left: 1rem; font-size: .7rem;}
header nav .contact-details{margin-left: 0.5rem; }
.banner-con h3{font-size: 5.5rem;}
.banner-con h2{font-size: 1.9rem;}
.banner-con p{font-size: 0.85rem; width: 83%; padding:0;}
.banner-con{top:45%; }
.banner-form.banner-form-sec{width: 344px; right: 105px; padding: 25px 20px;}
.banner-form.banner-form-sec .form-control{height: 42px;}
.banner-form.banner-form-sec .btn-form-sec button{margin-top: 15px;}
.banner-form.banner-form-sec h2{font-size: 1.7rem;}
.banner-form.banner-form-sec .form-info p{font-size: 1.1rem}
.banner-form.banner-form-sec .form-input-radio label{font-size: 0.9rem;}
.h-sec-info h2{font-size: 2rem;}
.h-sec-info h3{font-size: 4.2rem;}
.h-sec-info p{font-size: 0.9rem;}
.info-box{padding:23px 10px;}
.h-sec2-info{padding-right: 100px;}
.roadmap-info img{width: 100%;}
.info-text h4{font-size: 1.3rem;}
.h-sec-info.h-sec3-info{padding-left: 20px;} 
.h-sec-info.h-sec-info-cen h3{font-size: 4.5rem; font-weight: 600;}
.h-sec5 .h-sec-cen h2{margin-bottom: 10px;}
.sly-tab ul li a{font-size: 1.2rem;}
.sly-tab-info h2{font-size: 2.1rem;}
.img-car img{width: 100%;}
.cen-text-sly{margin-top:30px;}
.dif-tab{margin-top: -59px;}
.dif-tab-con td:nth-child(1){font-size: 1rem;}
.dif-tab-con td{font-size: 0.8rem;}
.h-sec7-list .h-sec7-con h3{font-size: 1.7rem;}
.live-box-con h3{font-size: 1.5rem;}
.combine-box-con h3{font-size: 1.5rem; padding: 0 70px;}
.combine-box h4{font-size: 3rem;}
.live-box-con td{font-size: 0.8rem;}
.h-sec10 td:first-child{font-size: 1rem;}
.h-sec10 td{font-size: 0.9rem;}
.list-sec-op ul li{font-size: 1rem;}
.h-sec13 .h-sec-info h2 span{font-size: 2.1rem;}
.connect-box h3{padding:0 20px; font-size: 1.8rem;}
.connect-box p{font-size: 1rem; padding: 0 14px;}
.h-sec15 .h-sec-info p{padding: 0 130px;}
.h-sec15 img{width: 100%;}
.acca-img img{width: 100%;}
.acca-sec-top{margin-top:0px;}
.section-15 h3{font-size: 2.2rem;}
.h-sec18-info{top:0;}
.acca-img {margin-top: 50px;}
footer .footer-section h4{font-size: 1.3rem;}
.h-sec14{padding-bottom:80px;}
.h-sec14:before{bottom:0%; width:44%;}
.h-sec14:after{width:13.8%; top:7%;}
.connect-sec{margin-top:90px;}
.h-sec5:before{background-size: 100%;}
.video-sec h2{font-size: 3.5rem;}
.dif-tab ul li{width:12%;}
.over-table{width:60px;}
.h-sec6:before{width:6%;}
.h-sec6:after{width:4.69%;right: 0.5%;}
.h-sec11:before{width:8.61%;}
.h-sec11:after{width:6.52%; top: 8%;right: 1.5%;}
.h-sec12:before{width:5.8%;}
.h-sec12:after{width:10.76%;}
.road-btn a.enbtn1{top: 360px;left: 9.8%;}
.road-btn a.enbtn2{top: 95px;left: 36.5%;}
.pop-form .banner-form.banner-form-sec h2{font-size: 1.4rem; margin-bottom: 10px;}
.pop-form .banner-form.banner-form-sec{padding: 20px 20px 10px;}
}
@media (max-width:767px) {
    header nav .contact-details{width:58%;}
    header nav.navbar-light{padding-left: 10px; padding-right: 10px;}
    header .navbar-brand{margin-right:0;}
    header nav .contact-details a{margin-left: 0.5rem; font-size: .6rem;}
    .roadmap-info img{width: 100%;}
    .banner-con p{padding-right: 0px;}
    .h-sec1{padding: 40px 0 40px;}
    .h-sec-info{text-align: center;}
    .h-sec-info h2 {font-size: 1.5rem;}
    .h-sec-info h3 {font-size: 2.8rem; margin-bottom:15px;}
    .h-sec2-list-info{margin-top:15px;}
    .h-sec-info p{font-size: 0.8rem; text-align: center;}
    .h-sec-info.h-sec1-info{margin-top: 30px; padding: 0;}
    .h-sec2{padding: 40px 0;}
    .h-sec2-info{padding-right: 0; margin-top: 0;}
    .h-sec2 .image-com img{width: 100%;}
    .img-car img{width: 100%; margin-top:20px; position:relative; z-index:9;}
    .h-sec-info.h-sec3-info{padding-left: 0; position: relative;}
    .roadmap-info{margin-top: 10px;}
    .h-sec3{padding: 0 0 40px;}
    .h-sec-info.h-sec-info-cen h3{font-size: 2.8rem;}
    .h-sec-info.h-sec-info-cen p{padding: 0;}
    .ak-tab .col-md-3{padding-right: 15px;}
    .ak-tab .col-md-9{padding-left: 15px;}
    .ak-tab .course-tab-con{padding: 15px 15px; margin-left: 0; margin-top: 20px;}
    .course-ic{text-align: center;}
    .ak-tab .course-tab-con p{text-align: center; font-size:0.9rem;}
    .h-sec5{padding-top: 40px;}
    .sly-tab ul{flex-wrap: wrap;}
    .ak-tab .nav-link{text-align: center;}
    .sly-tab ul li{width: 100%; margin-bottom: 5px; text-align: center;}
    .sly-tab-info{margin-top: 30px; text-align: center; margin-bottom: 10px;}
    .sly-tab-info p{text-align: center; padding:0;}
    .tab-accordian .card-body{text-align:center;} 
    .dif-tab ul li{width:40%;}
    .h-sec-info.h-sec-cen{margin-bottom:0px;}
    .sly-tab-info h2{margin-bottom: 10px;}
    .tab-accordian{margin-top:25px;}
    .cen-text-sly{margin-top: 0px;}
    .cen-text-sly h2{font-size: 1.7rem;}
    .sly-tab-info h2{font-size: 1.7rem}
    .h-sec7{padding: 40px 0;}
    .combine-box{margin: 20px 0; display: block;}
    .h-sec9{padding-bottom: 40px;}
    .h-sec10 td:first-child{font-size: 0.9rem;}
    .h-sec10 td{font-size: 0.8rem; padding-right: 15px;}
    .h-sec10{padding: 40px 0;}
    .h-sec11{padding: 40px 0;}
    .h-sec11 .h-info-white p{padding: 0; text-align: center;}
    .list-sec-op ul li{font-size: 0.83rem; line-height:1.1; }
    .sal-pack-sec{flex-wrap: wrap;}
    .sal-pack-sec .sal-pack-box{width: 50%; margin-bottom: 10px;}
    .sal-pack-in{padding: 20px 10px;}
    .sal-pack-in h3{font-size: 1.3rem;}
    .h-sec12{padding-bottom: 40px;}
    .h-sec13{padding: 40px 0 10px;}
    .h-sec13 .h-sec-info{margin-top: 0;}
    .h-sec13 .h-sec-info h2{margin-bottom: 20px;}
    .connect-box p{text-align: center; padding: 0 ;}
    .h-sec13 .h-sec-info p{text-align: center;}
    .connect-box h3{font-size: 2rem;}
    .h-sec15{padding: 40px 0;}
    .h-sec15 .h-sec-info p{padding: 0;}
    .h-sec18-info{position: relative; top: 0; text-align: center;}
    .h-sec18{padding: 40px 0;}
    .acca-sec-top{margin-top: 0;}
    .h-sec18-info h2{text-align: center; font-size: 1.7rem;}
    .h-sec18-info p{text-align: center;}
    .h-sec19{padding: 40px 0;}
    .section-15 h3{text-align: center; font-size: 1.7rem;}
    .section-15 form input[type="email"]{width: 78%;}
    footer .footer-section{padding: 30px 0;}
    .dif-tab-con th{font-size: 1rem;}
    .info-box{flex-wrap: wrap; padding: 10px 10px;}
    .info-img{width: 100%;}
    .info-img{margin-bottom: 10px;}
    .info-text{width: 100%; padding: 0; text-align: center;}    
    .info-text p{text-align: center;}
    .h-sec7-list .h-sec7-con p{text-align: center; padding: 0 25px;}
    .h-sec7-list{margin-top: 10px; }
    .h-sec7-list .h-sec7-con h3{margin-bottom: 10px;}
    .desk-sl{display:none!important;}
    .mob-sl{display:block!important;}
    .banner-con-sec{text-align:center;}
    .banner-con{left:50%; width:100%; top:26%;}
    .banner-con-sec p{text-align: center;
    width: 82%;
    margin: 0 auto;
    font-size: 0.8rem;}
    .banner-con h2{font-size:1.5rem; padding: 0 50px; margin-bottom: 5px;}
    .banner-con h2 span{display:inline;}
    .banner-section{margin-top:0px;}
    .h-sec13:before{display:none;}
    .counter-box p:first-child, .counter-box p:last-child{text-align:center;}
    .h-blank-sec{display:none;}
    .h-sec14 .video-sec img{margin-top:0;}
    .video-sec h2{font-size:2rem; width:90%;top:30%;}
    .h-sec14{padding-top:30px; padding-bottom:30px;}
    .connect-sec{margin-top:20px;}
    .acca-img{margin-top:0;}
    .faq-img img{margin-bottom:30px;}
    .section-15 h3 strong{display:inline;}
    .h-sec14:before, .over-table{display:none;}
    .road-btn a.enbtn1{padding: 6px 10px;
    font-size: 0.4rem;top: 128px;
    left: 11.5%;}
    .road-btn a.enbtn2{padding: 6px 10px;
    font-size: 0.4rem;top: 35px;
    left: 38%;}
        .list-sec-op ul li{font-size:0.8rem;}
    .list-sec-op ul li:before{background-size:80%;}
    .list-sec-op ul li{padding-left:30px;}
    .list-sec-op ul li:before{top:-3px;}
    .tab-accordian .card .card-header .btn-header-link{padding: 15px 10px;font-size: 0.9rem;}
    .h-sec14:after{display:none;}
    .mentor-head h3{font-size:1.5rem;text-align:center; margin:15px 0 0;}
    .banner-form.load{width: 90%; left: 50%;}
    .ban-hide-mob{display: none;}
    .h-video h2{margin-bottom: 20px !important;}
    .h-video .frame{height: 250px;}
    .pop-form .banner-form.banner-form-sec h2{font-size:1.1rem;}
    
    .intro .navbar-collapse{display: none;}

    .h-sec12:after{display: none;}
    .footer-section{text-align: center;}
    footer .footer-section p{text-align: center;}
    html, body {width: 100%;overflow-x: hidden;} 
    .h-sec4{background-size: cover;}
    a.fix-btn2{padding: 10px 15px; font-size: 1rem; transform: translate(39px, -50%) rotate(270deg);}
    .tab-accordian .card .card-header{position: relative;}
    .tab-accordian .card .card-header .btn-header-link:after{
        position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    }
    .dif-tab-con td:nth-child(1){font-size: 0.9rem;}
    .dif-tab-con td{padding: 10px 12px;}


}

@media (max-width:375px) {
    .banner-section{margin-top:0;}
    .banner-con{left:50%; width:100%; top:22%;}
    .banner-con h2{font-size:1.5rem; padding: 0 25px; margin-bottom:5px;}
    .banner-con-sec p{font-size:0.73rem;}
    .h-sec-info h2{font-size:1.3rem;}
    .h-sec1{padding:30px 0 25px;}
    .h-sec2{padding:30px 0;}
    .h-sec2 .image-com{margin-top:15px;}
    .h-sec2-list-info{margin-top:15px;}
    .h-sec-info h3{margin-bottom:15px;}
    .h-sec4{background-size:cover;}
    .h-sec-info h3{font-size:2.5rem;}
    .h-sec-info.h-sec-info-cen h3{font-size:2.5rem;}
    .ak-tab .course-tab-con p{font-size:0.85rem;}
    .sly-tab ul li a{font-size:1rem;}
    .sly-tab-info h2{font-size:1.5rem;}
    .sly-tab-info p{padding:0; font-size:0.9rem;}
    .tab-accordian .card-body{text-align:center;}
    .cen-text-sly h2{font-size:1.5rem;}
    .dif-tab ul li{width:40%;}
    .h-sec-info.h-sec-cen{margin-bottom:0;}
    .h-sec7-list .h-sec7-con h3{font-size:1.5rem;}
    .h-sec7{padding:40px 0 20px;}
    .h-sec13:before{display:none;}
    .h-sec13 .h-sec-info h2 span{font-size:1.5rem;}
    .counter-box p:first-child{text-align:Center;}
    .h-sec13{padding-bottom:0;}
    .h-blank-sec{display:none;}
    .h-sec14 .video-sec img{margin-top:0;}
    .video-sec h2{font-size:2rem; width:90%;}
    .h-sec14{padding-top:30px; padding-bottom:30px;}
    .connect-sec{margin-top:30px;}
    .connect-box h3{font-size:1.5rem;}
    .h-sec18-info h2{font-size:1.5rem;}
    .h-sec18-info p{font-size:0.9rem;}
    .h-sec18-info h2{margin-bottom:15px;}
    .acca-img{margin-top:0;}
    .h-sec18{padding:30px 0;}
    .faq-img img{margin-bottom:30px;}
    .section-15 h3{font-size:1.5rem;}
    section.section-15{padding:30px 0;}
    .section-15 h3 strong{display:inline;}
    footer .footer-section{padding:20px 0;}
    .h-sec14:before, .over-table{display:none;}
    .h-sec13 .h-sec-info p{margin-bottom:20px;}
    .counter-box p:last-child{text-align:center;}
    .road-btn a.enbtn2{top: 32px;
    left: 39%;}
    .road-btn a.enbtn1{top: 116px;
    left: 12%;}
    .tab-accordian .card .card-header .btn-header-link{
        padding: 15px 10px;
        font-size: 0.7rem;
    }
    .mentor-head h3{font-size:1.3rem;}
    
}
@media (max-width:360px) {.road-btn a.enbtn2{top: 31px;
    left: 40%;}
    .road-btn a.enbtn1{top: 113px;
    left: 12%;}
    .tab-accordian .card .card-header .btn-header-link{
        padding: 15px 10px;
        font-size: 0.68rem;
    }
    
    
}