@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}
a{
  text-decoration: none !important;
}
.navbar {
    margin-bottom: 0;
    border-bottom: 0px;
    border-radius: 0px;
    margin: 0;
    border: 0px;
}
header, .navbar, .navbar-right, .ragister {
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
.navbar-brand {
    height: 80px;
    padding: 0 ;
    transition: all 0.4s linear;
}
.navbar-brand img {
    height: 100%;
    transition: all 0.4s linear;
}
.img-figure figure img, .navbar-default .navbar-nav li:before, a, .pull-right, .nav-tabs>li>a {
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    color: inherit;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    border-radius: 4px;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    display: none;
}
.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
}
.navbar-toggle .icon-bar {
    width: 30px;
    height: 3px;
    background: #fff;
    border-radius: 0px;
    transition: all 0.4s linear;
    position: relative;
    display: block;
    margin-bottom: 5px;
}
nav.navbar {
    padding: 0;
    border-top: 1px solid #cecece;
}
.navbar-right {
    display: block;
    margin: 0;
}
.navbar-nav li {
    position: relative;
    margin-right: 25px;
    display: inline-block;
}
.navbar-nav li:last-child {
    margin-right: 0;
}
.navbar-nav li a {
    color: #232323;
    text-transform: capitalize;
    padding: 7px 0;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    overflow: hidden;
    outline: none !important;
}
.navbar-nav li a:before {
    content: '';
    position: absolute;
    right: 0;
    width: 0;
    bottom: 0;
    height: 2px;
    transition: all 0.4s linear;
    background-color: #f3a93c;
}
.navbar-nav li a:hover:before {
    left: 0;
    width: 100%;
}
.navbar-nav li a:hover{
  color: #f3a93c;
}
.top-header {
    padding: 7px 0;
}
.info-list li {
    display: inline-block;
    margin-right: 40px;
    padding-left: 23px;
    position: relative;
}
.info-list li:last-child{
    margin-right: 0px;
}
.info-list li a {
    color: #000000;
    font-weight: 400;
    font-size: 14px;
}
.info-list li a:hover{
  color: #ff0080;
}
li.call-list:before, li.mail-list:before {
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    left: 0;
    font-size: 16px;
    top: 4px;
}
li.call-list:before {
    content: "\f095";
}
li.mail-list:before{
    content: "\f003";
}
.top-header p {
    margin: 8px 0 0;
}
.top-header ul {
    margin: 0;
}
.social-link {
    text-align: right;
}
.social-link li {
    display: inline-block;
    margin-left: 15px;
    font-size: 14px;
}
.social-link li a:hover{
    color: #ff0080;
}
.home-banner {
    background-image: url(../images/home-banner-new.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    background-position: center top;
}
.homebanner-col{
    background-color: #0000007a;
}
.banner-form {
    background: #ffffff;
    padding: 15px;
}
.form-inner {
    
}
.form-inner h3 {
    font-size: 22px;
    font-weight: 500;
    color: #464646;
    text-align: center;
}
.form-inner h4 {
    margin-bottom: 20px;
    color: #e41937;
    font-weight: 500;
    font-size: 21px;
    text-align: center;
}
.form-control {
    height: 36px;
    font-size: 14px;
    outline: none !important;
    border-radius: 0;
    box-shadow: none !important;
    background: #fff;
}
textarea.form-control {
    height: 100px;
}
.fr-sub {
    background: #e41937;
    color: #fff;
    text-transform: capitalize;
    transition: all 0.4s;
    border-color: #e41937;
    cursor: pointer;
}
.fr-sub:hover ,.fr-sub:focus {
    background: #000;
    border-color: #000;
    color: #fff;
}
.form-inner p {
    text-align: center;
}
.banner-content {
    padding: 60px 10px 30px;
}
.banner-content h1 {
    color: #fff;
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 55px;
    font-weight: 600;
    margin-bottom: 50px;
}
.banner-content h1 strong {
    font-size: 90px;
    font-weight: 400;
    line-height: 90px;
}
.banner-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.banner-list li {
    font-size: 25px;
    color: #fff;
    padding: 0px 0 60px 66px;
    position: relative;
}
.banner-list li:before {
    content: "\f016";
    font: normal normal normal 14px/1 FontAwesome;
    width: 50px;
    height: 50px;
    position: absolute;
    display: block;
    text-align: center;
    font-size: 16px;
    background: #e41937;
    line-height: 50px;
    border-radius: 50%;
    left: 0;
    top: -6px;
    transition: all 0.4s;
    cursor: pointer;
}
.banner-list li:after {
    content: "";
    width: 65px;
    height: 65px;
    position: absolute;
    display: block;
    top: -13px;
    left: -8px;
    border: 3px solid #f2a32e;
    border-radius: 50%;
    transition: all 0.4s;
    transform: scale(0);
}
.banner-list li:hover:after {
    transform: scale(1);
}
.banner-list li:nth-child(2):before{
    content: "\f19d";
}
strong.highlight-text {
    background: #8787e3;
    display: inline-block;
    padding: 8px 7px 0;
}
.banner-content p {
    font-size: 17px;
    font-weight: 400;
    color: #ffffff;
    text-transform: lowercase;
}
p {
    font-weight: 400;
    color: #656363;
    font-size: 15px;
    line-height: 25px;
}
.section{
    padding: 40px 0;
}   
.men-heading {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 15px;
}
.men-heading strong {
    color: #f3a93c;
}
.men-heading:after {
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    background: #ff5722;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.about-sec .men-heading::after {
    /*left: 0;
    transform: initial;*/
}
.choose-sec {
    padding-bottom: 0 !important;
}
.ab-content.choose-content.box {
    border: 1px solid #dedede;
    padding: 8% 3% 0px;
    border-radius: 2px;
}
.box h5 {
    border-bottom: 1px solid #dedede;
    padding-bottom: 10px;
    color: #ff5722;
}
.abr-2sec {
    display: flex;
    flex-flow: wrap;
    border: 1px solid #ff007f;
}
.abr-col1, .abr-col2 {
    width: 100%;
}
.abr-col1 {
    flex-basis: 30%;
}
.abr-col2 {
    flex-basis: 70%;
    padding: 50px 50px 0;
}
.assist-sec .men-heading {
    margin-bottom: 35px;
}
.tabbing-newcustom {
    margin: 10px 0 50px;
}

.tabbing-newcustom .nav-tabs {
    border: 0;
    margin: 0 auto 50px;
    text-align: center;
    max-width: 1000px;
    display: block;
}
.tabbing-newcustom .nav-tabs li {
    float: none;
    text-align: center;
    display: inline-block;
    margin-right: -4px;
}
.tabbing-newcustom .nav-tabs li a {
    display: block;
    padding: 10px 35px;
    border: 1px solid #dedede;
    border-left: 0;
    border-radius: 4px;
    font-size: 17px;
    transition: all 0.4s linear;
}
.tabbing-newcustom .nav-tabs li:first-child a {
    border-left: 1px solid #dedede;
}
.tabbing-newcustom .nav-tabs li a.active {
    background: #ff007f;
    color: #fff;
}
.tab-content .men-heading {
    margin: 7px 0;
    font-size: 39px;
    font-weight: 400;
    color: #424242 !important;
}
.lets-content {
    background: #343a40;
    padding: 12px 30px;
    font-size: 17px;
    margin-top: 10px;
    display: inline-block;
    color: #fff;
    border-radius: 2px;
    transition: all 0.4s linear;
}
.lets-content:hover,.lets-content:focus{
      background: #ff007f;
      color: #fff;
}
.assist-sec {
    position: relative;
    z-index: 1;
    background: #f9f9f9;
}
.assist-sec:after {
    content: "";
    background-image: url(../images/ovlay-img.jpg);
    width: 415px;
    height: 230px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.course-about {
    background: #fff;
    padding: 10px;
    border: 1px solid #ece7e7;
    min-height: 475px;
    text-align: center;
}
.course-img {
    overflow: hidden;
}
.course-img img {
    transition: all 0.3s;
    transform: scale(1);
    width: 100%;
}
.course-img:hover img {
    transform: scale(1.1);
}
.course-about p {
    font-size: 14px;
    line-height: 22px;
}
.course-about h4 {
    font-size: 20px;
    margin: 12px 0;
    color: #000000;
    font-weight: 700;
}
.cus-pera2 {
    max-width: 670px;
    margin: 0 auto 35px;
}
.university-list {
    display: flex;
    flex-flow: wrap;
    width: 100%;
    justify-content: center;
}
.university-list li {
    width: 100%;
    flex-basis: 33.33%;
    padding: 0px 15px;
}
.unibersity-box {
    margin-bottom: 30px;
}
.unibersity-box img {
    width: 100%;
}
.unibersity-box h4 {
    font-size: 20px;
    font-weight: 400;
    margin: 20px 15px;
}
.men-heading span {
    display: block;
    font-weight: 400;
}
.cus-pera {
    max-width: 940px;
    margin: 0 auto 35px;
    text-align: center;
}
.schorship-box {
    border: 1px solid #d6d6d6;
}
.slr-content {
    padding: 20px;
}
.slr-content h4 {
    font-size: 28px;
    font-weight: 400;
    color: #000;
    margin-bottom: 15px;
}
.slr-content ul li {
    font-weight: 400;
    color: #3e3e3e;
    font-size: 17px;
    line-height: 30px;
}
.slr-pera {
    min-height: 165px;
}
.slr-content ul li strong {
    font-weight: 600;
    color: #000;
}
.owl-carousel .owl-dots {
    text-align: center;
    margin: 30px 0 0;
}
.owl-carousel .owl-dots .owl-dot {
    width: 27px;
    height: 27px;
    display: inline-block;
    margin: 0 3px;
    border: 2px solid transparent;
    border-radius: 50%;
    padding: 5px;
    transition: all 0.4s;
}
.owl-carousel .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    background: #d7d7d7;
    display: block;
    border-radius: 50%;
    transition: all 0.4s;
}
.owl-carousel .owl-dots .owl-dot.active {
    border-color: #f3a93c;
}
.owl-carousel .owl-dots .owl-dot.active span {
    background: #f3a93c;
}
.help-sec{
    background-image: url(../images/help-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.help-list {
    display: flex;
    flex-flow: wrap;
    margin-top: 50px;
}
.help-list li {
    width: 100%;
    flex-basis: 20%;
    padding: 0px 10px;
}
.help-icon {
    width: 180px;
    height: 180px;
    text-align: center;
    margin: auto;
    background: #fff;
    border-radius: 50%;
    border: 12px solid #e0e0e0;
    line-height: 160px;
    transition: all 0.4s;
}
.help-content {
    margin: 15px 0 15px;
}
.help-content h4 {
    font-size: 22px;
    font-weight: 600;
    color: #000;
    margin: 3px 0;
}
.help-content p {
    color: #797878;
    font-size: 18px;
    font-weight: 300;
}
.help-icon:hover {
    border-color: #ff007f;
}
.space-small {
    padding-bottom: 30px;
}
.testimonial-boxed {
    background: #f5f5f5;
    padding: 30px;
}
.testimonial-boxed-block {
    text-align: center;
}
.testimonial-boxed-content {
    margin-bottom: 20px;
}
.testimonial-boxed-text {
    font-weight: normal;
    font-style: italic;
    min-height: 364px;
    color: #959595;
    font-size: 16px;
}
.testimonial-boxed-info .testimonial-name {
    color: #ff007f;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 6px;
}
.testimonial-boxed-info p {
    font-size: 16px;
    font-weight: 400;
    color: #000;
}
div#accordion {
    counter-reset: section;
}
.faq-box {
    margin-bottom: 15px;
}
.faq-link {
    display: block;
    color: #ffffff !important;
    padding: 12px 20px;
    font-size: 17px;
    position: relative;
    border: 1px solid #ff007f;
    background: #ff007f;
    padding-left: 50px;
}
.faq-link.collapsed {
    background: #ffffff;
    color: #737373 !important;
    border: 1px solid #cccaca;
}
.faq-link:before {
    counter-increment: section;
    content: "" counter(section) ". ";
    position: absolute;
    width: 35px;
    left: 20px;
}
.faq-link:after {
    content: "\f068";
    font: normal normal normal 19px/1 FontAwesome;
    color: #fff;
    position: absolute;
    top: 15px;
    right: 20px;
}
.collapsed.faq-link:after {
    content: "\f067";
    color: #888888;
}
.faq-body {
    padding: 20px 20px 10px;
    position: relative;
    padding-left: 50px;
}
.faq-body:before {
    content: "Ans";
    color: #000081;
    font-weight: 400;
    position: absolute;
    left: 10px;
}
.faq-sec {
    background: #f9f9f9;
}
.faq-sec .men-heading {
    margin-bottom: 40px;
    font-weight: 500;
}
.contact-sec {
    background:#000;
    color: #fff;
}
.contact-sec p {
    color: #fff;
    font-weight: 300;
}
#footer-form .form-group {
    margin-bottom: 10px;
}
#footer-form label.control-label, #footer-form .form-control {
    font-weight: 300;
}
#footer-form input.form-control {
    height: 40px;
    background: #f7f7f7;
    border: 1px solid #e4e4e4;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
    font-size: 15px;
}
#footer-form textarea.form-control {
    min-height: 100px;
}
.get-btn {
    text-transform: capitalize;
    letter-spacing: 0;
    font-weight: 300;
    font-size: 18px;
    width: 100%;
}
#footer-form .get-btn {
    border-radius: 0;
}
.ctr-box {
    color: #202326;
    min-height: 200px;
    padding: 37px 15px 20px;
    font-size: 15px;
    background: #f7c275;
    margin-top: 30px;
}
.ctr-box p a {
    font-size: 18px;
    color: #000;
    margin: 15px 0 30px;
    display: block;
}
.ctr-box p a:hover {
    color: #ff007f;
}
.btn-default {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
    box-shadow: none !important;
    padding: 10px 20px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 300;
    border-radius: 0;
}
.btn-default:hover,.btn-default:focus {
    color: #fff;
    background-color: #ff5722;
    border-color: #ff5722;
}
.ctr-box .fa {
    font-size: 3em;
    color: #ff5722;
}
.form-row .text-center {
    display: block;
    width: 100%;
}
.landing-page-tiny-footer {
    background: #ff5722;
    color: #ffffff;
    font-size: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.landing-page-tiny-footer p {
    color: #fff;
    margin: 0;
}
.landing-page-tiny-footer a {
    color: #f7c275;
}
.contact-sec .men-heading {
    font-weight: 500;
}
.thankyou-page {
    text-align: center;
    padding: 13.7rem 0;
    border-top: 1px solid #cccccc;
}
.thankyou-page h1 {
    color: #ff5722;
    font-weight: 500;
    font-size: 60px;
}
.thankyou-page .btn {
    margin-top: 1rem;
    display: inline-block;
    width: 170px;
}
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    box-shadow: 0px 0px 6px rgb(0, 0, 0,0.7);
    border-radius: 0px;
    z-index: 9;
    -webkit-transition: all 0.4s linear;
    margin-top: 0;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    transition: all 0.4s linear;
    background: #fff;
}
.fixed-header .navbar-brand {
    height: 57px;
}
.fixed-header .navbar-brand img {
    height: 45px;
}
.fixed-header .navbar-nav li a {
    font-size: 15px;
}
.assist-row img {
    width: 100%;
}
.mob-tab {
    display: none;
}
.btn.btn-default.book-btn {
    background: #ff5722;
    border-color: #ff5722;
}
.btn.btn-default.book-btn:hover,.btn.btn-default.book-btn:focus{
    background: #f7c275;
    border-color: #f7c275;
}
.accomplish-sec {
    background-image: url(../images/accomplish-bg.jpg);
    background-attachment: fixed;
    padding: 4rem 0;
    background-size: cover;
    background-repeat: no-repeat;
}
.accomplish-sec .men-heading {
    text-align: center;
    color: #fff;
    font-weight: 500;
}
.con {
    display: flex;
    flex-flow: wrap;
    margin-top: 40px;
}
.con .number {
    width: 100%;
    flex-basis: 25%;
    padding: 0px 15px;
    text-align: center;
    font-size: 23px;
    color: #ff5722;
}
.con .number span.count {
    color: #fff;
    font-size: 30px;
}
.brand-list li {
    height: 95px;
    line-height: 100px;
}
.brand-sec .men-heading {
    margin-bottom: 40px;
}
.video-sec {
    background: #f9f9f9;
}
.video-row {
    margin-top: 30px;
}
.video-box iframe {
    width: 100%;
    height: 208px;
    border: 1px solid #cbc7c7;
    padding: 3px;
}
.student-test {
    background-image: url(../images/test-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.student-test .men-heading {
    color: #fff;
}
.test-bx {
    background: #fff;
    margin-top: 60px;
    padding: 70px 20px 20px;
    position: relative;
}
.testimg img {
    width: 100px !important;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50px);
}
.testtitle {
    font-size: 19px;
    color: #bf6315;
    text-transform: uppercase;
}
.test-place {
    font-size: 18px;
    color: #000;
    margin-bottom: 17px;
}
.testcontent {
    min-height: 220px;
}
.whats-icon {
    position: fixed;
    z-index: 9;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    border: none;
    box-shadow: 0 0 0 0 rgb(69 198 85);
    border-radius: 50%;
    cursor: pointer;
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
.whats-icon:hover 
{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}

.whats-icon a.mobile {
    display: none;
}
.cus-list {
    list-style: none;
    margin: 40px 0 0;
    padding: 0;
}
.cus-list li {
    margin-bottom: 50px;
    font-weight: 400;
    color: #000;
    font-size: 20px;
    line-height: 25px;
    background-image: url(../images/list-icon.png);
    background-repeat: no-repeat;
    padding-left: 31px;
    background-position: 0 3px;
}
.choose-content .men-heading:after {
    transform: initial;
    left: 2px;
}
.slip-consec {
    background: #f7c275;
}
.slip-consec h2 {
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
}
.slip-consec h4 {
    margin: 10px 0 0;
    font-size: 21px;
    color: #000;
    font-weight: 500;
}
.slip-consec .book-btn {
    float: right;
}
.slip-consec h4 strong {
    color: #ff5722;
}
.slip-consec .btn.btn-default.book-btn:hover,.slip-consec .btn.btn-default.book-btn:focus {
    background: #000000;
    border-color: #000000;
}
.abr-section {
    background-image: url(../images/abr-bg.jpeg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
.about-contentright {
    margin: 100px 0;
    background-color: rgb(255 255 255 / 61%);
    padding: 30px;
}
.about-contentright .men-heading:after {
    left: 0;
    transform: inherit;
}
.form-group .error {
    font-size: 13px;
    color: #e41937;
}


/*-------- Responsive Css ---------*/


@media screen and (min-width: 1200px){
.container {
    max-width: 1200px !important;
}

}

@media screen and (max-width: 1024px){
.navbar-nav li {
    position: relative;
    margin-right: 15px;
    display: inline-block;
}
.help-icon {
    width: 160px;
    height: 160px;
    line-height: 138px;
}
.help-icon img {
    max-height: 60px;
}
.help-content h4 {
    font-size: 18px;
}
.help-content p {
    font-size: 16px;
}
.men-heading {
    font-size: 36px;
}
.testimonial-boxed {
    padding: 15px;
}
.testimonial-boxed-text {
    min-height: 454px;
}
.faq-link {
    font-size: 16px;
}
.slr-content h4 {
    font-size: 24px;
}
.tab-content .men-heading {
    margin: 0px 0 4px;
    font-size: 30px;
}
.thankyou-page {
    padding: 5rem 0;
}
.banner-content h1 {
    font-size: 60px;
    line-height: 60px;
}
.course-about {
    min-height: 495px;
}
.abr-img img {
    position: absolute;
    bottom: 0;
}
.choose-content {
    margin-bottom: 50px;
}
.con .number {
    font-size: 20px;
}
.con .number span.count {
    font-size: 23px;
}
.testcontent {
    min-height: 320px;
}
.choose-sec {
    margin-top: 30px;
}
.slip-consec h4 {
    font-size: 18px;
}

}

@media screen and (max-width: 768px){
.top-header .col-lg-4 {
    display: none;
}
.top-header .pull-right {
    text-align: center !important;
    width: 100%;
}
.info-list li {
    text-align: left;
}
.container {
    max-width: 100% !important;
    width: 100% !important;
}
button.navbar-toggle {
    display: block;
    background: #ff5722;
    padding: 10px 10px 5px !important;
}
.navbar-nav.navbar-right {
    position: fixed;
    width: 300px;
    background: #fff;
    left: -315px;
    padding: 20px;
    height: 100%;
    top: 0;
    z-index: 99;
    transition: all 0.4s linear;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 71%);
}
.navbar-nav li {
    position: relative;
    margin-right: 0;
    display: block;
    margin-bottom: 12px;
}
.nav.navbar-nav.navbar-right.open {
    left: 0;
}
.banner-content {
    padding: 40px 10px;
}
.home-banner {
    padding: 30px 0;
}
strong.highlight-text {
    padding: 7px 4px 0;
}
.banner-content h1 strong {
    font-size: 65px;
    line-height: 65px;
}
.form-inner {
    padding: 15px 10px;
}
.about-sec .men-heading {
    margin-top: 0;
}
.abr-img {
    margin-top: 160px;
}
.abr-col1 {
    flex-basis: 40%;
}
.abr-col2 {
    flex-basis: 60%;
    padding: 25px 20px 0;
}
.tabbing-newcustom .nav-tabs li a {
    padding: 10px 25px;
    font-size: 15px;
}
.men-heading {
    font-size: 32px;
}
.section {
    padding: 30px 0;
}
.university-list li {
    flex-basis: 50%;
}
.slr-pera {
    min-height: 100%;
}
.help-list li {
    width: 100%;
    flex-basis: 50%;
    padding: 0px 10px;
    margin-bottom: 30px;
}
.help-list {
    justify-content: center;
}
.testimonial-boxed-text {
    min-height: auto;
}
.testimonial-boxed {
    margin-bottom: 15px;
}
.space-small {
    padding-bottom: 0;
}
.abr-img {
    margin-top: 11px;
    text-align: center;
}
.assist-row img {
    margin-bottom: 15px;
}
.thankyou-page h1 {
    font-size: 50px;
}
.whats-icon a.mobile {
    display: block;
}
.whats-icon a.desk {
    display: none;
}
.course-about {
    min-height: auto;
    margin-bottom: 15px;
}
.abr-img img {
    position: initial;
}
.assist-sec:after{
    display: none;
}
.choose-sec .col-lg-6:first-child {
    order: 2;
}
.con .number {
    flex-basis: 50%;
    margin-bottom: 20px;
}
.brand-list li {
    height: 80px;
    line-height: 90px;
}
.testcontent {
    min-height: auto;
}
.video-box {
    margin-bottom: 12px;
}
.video-box iframe {
    height: 420px;
    padding: 3px;
}
.banner-content p {
    font-size: 16px;
}
.slip-consec .book-btn {
    float: none;
    margin-top: 20px;
}
.slip-consec {
    text-align: center;
}
.form-inner h3 {
    font-size: 32px;
}
.abr-section {
    background-position: left;
}
.about-contentright {
    margin: 0;
}
.choose-sec {
    margin-top: 0;
}
.cus-list li {
    margin-bottom: 15px;
}
.cus-list {
    margin: 30px 0 0;
}
.choose-content {
    margin-bottom: 25px;
}

}

@media screen and (max-width: 480px){
p, li {
    font-size: 15px;
    line-height: 26px;
}
.banner-content h1 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 30px;
}
.abr-col1 {
    flex-basis: 100%;
}
.abr-col2 {
    flex-basis: 100%;
    padding: 15px;
}
.abr-col2 {
    flex-basis: 100%;
    padding: 20px 15px 10px;
}
.about-sec {
    padding-bottom: 0;
}
.men-heading {
    font-size: 25px;
    margin-bottom: 10px;
}
.tabbing-newcustom .nav-tabs li {
    text-align: center;
    display: block;
    margin-right: 0;
    width: 100%;
}
.tabbing-newcustom .nav-tabs li a {
    padding: 8px 25px;
    border: 1px solid #dedede;
    margin-bottom: 5px;
}
.tabbing-newcustom .nav-tabs {
    margin: 0 auto 20px;
}
.lets-content {
    padding: 10px 25px;
    font-size: 15px;
    transition: all 0.4s linear;
    margin-top: 0;
}
.university-list li {
    flex-basis: 100%;
}
.scholarships-sec {
    padding-top: 0;
}
.universities-sec {
    padding-bottom: 0;
}
.slr-content h4 {
    font-size: 19px;
    margin-bottom: 10px;
}
.slr-content {
    padding: 15px;
}
.owl-carousel .owl-dots {
    margin: 20px 0 0;
}
.owl-carousel .owl-dots .owl-dot {
    width: 20px;
    height: 20px;
    padding: 4px;
}
.owl-carousel .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
}
.faq-link {
    font-size: 14px;
    padding-right: 40px;
}
.ctr-box {
    min-height: 250px;
    padding: 37px 15px 20px;
    margin-top: 20px;
}
li.call-list:before, li.mail-list:before {
    font-size: 37px;
    top: 8px;
}
.navbar-nav.navbar-right {
    width: 280px;
    background: #fff;
    left: -295px;
}
.navbar-brand {
    height: 64px;
}
.navbar-brand img {
    height: 67px;
}
.thankyou-page h1 {
    font-size: 40px;
}
.thankyou-page {
    padding: 3rem 0;
}
.mob-tab {
    display: block;
}
.desk-tab {
    display: none;
}
.mob-tab .card {
    margin-bottom: 5px;
    border: 0;
}
.mob-tab .card-header {
    padding: 0;
    box-shadow: none !important;
    background: #fff;
    border: 1px solid #dbdbdb !important;
    border-radius: 0;
}
.mob-tab .card-header .card-link {
    padding: 8px 15px !important;
    display: block;
    border-radius: 0 !important;
}
.mob-tab .card .collapse {
    margin-top: 5px;
}
.mob-tab .card-header .card-link {
    background: #fff;
}
.mob-tab .card-header .card-link.collapsed {
    background: #fff !important;
    color: #302f2f !important;
}
.mob-tab .card-header .card-link {
    background: #ff007f !important;
    color: #fff !important;
}
.assist-row {
    padding-bottom: 20px;
}
.info-list {
    text-align: left;
}
li.call-list:before, li.mail-list:before {
    font-size: 15px;
    top: 5px;
}
.info-list li{
    margin-right: 0;
}
.banner-content p {
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
}
.con .number {
    font-size: 18px;
    text-align: center;
    padding: 0px 7px;
}
.con .number span.count {
    font-size: 25px;
    display: block;
}
.video-box iframe {
    height: 180px;
}
.home-banner {
    padding: 0;
}
.banner-list li {
    font-size: 16px;
    padding: 0px 0 35px 55px;
}
.banner-list li:before {
    width: 40px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    top: 0;
}
.banner-list li:after {
    width: 54px;
    height: 55px;
    top: -7px;
    left: -7px;
}
.form-inner {
    padding: 10px 0;
}
.form-inner h3 {
    font-size: 20px;
}
.form-inner h4 {
    font-size: 18px;
}
.banner-form {
    margin-bottom: 15px;
}
.hmr-sec2 {
    padding-bottom: 0;
}
.contentpartner-logo img {
    max-width: 250px;
}
.abr-section {
    background: #000;
}
.about-contentright {
    margin: 0;
    background: transparent;
    padding: 30px 0;
}
.about-contentright h1.men-heading ,.about-contentright p{
    color: #fff;
}
 

}


